
body{
  background: $azul-f;
}
.superinfo-bg{
  color: $branco;
  display: flex;
  justify-content: space-between;
}

.superinfo{
  display: flex;
  padding: 5px;
 //justify-content: space-between;
//flex-wrap: wrap;
  p, a{
    font-family: $font-1;
     font-size: 0.8em;
     color: $branco;
     text-decoration: none;
     margin-right: 20px;

  }
}
.logo-img{
  padding: 3px;
}
.img-logo-header{
margin-right: 10px;
}


//#########  Nav ################


.menu-bg{
    background: rgba(0, 0, 0, 0)
}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu a{
    color: white;
}

.menu-logo-envo{
    font-size: 2.25em;
    font-weight: bold;
    margin-left: 5px;
    padding-top: 5px;
}

.menu-nav ul{
    display: flex;
    flex-wrap: wrap;
}

.menu-nav a {
    font-size: 1em;
    display: block;
    padding: 10px;
}

.menu-nav a:hover{
    color: #122ab2;
}


//############### Slider #######









